@import url("https://fonts.cdnfonts.com/css/typo-round");
@media (min-width: 768px) {
  .container_aboutUs_box {
    max-width: 987px;
    margin-left: auto;
    margin-right: auto;
  }
  .ourvalues-para_info {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 167%;
    font-size: 15px;
    letter-spacing: 0.5px;
    max-width: 406px;
  }
  .OurValues_headingtitle {
    color: #fff;
    font-family: "Typo Round Bold Demo";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .OurVisionAboutUs_title {
    color: #1e3a4f;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 44.444% */
  }
  .OurmissionAboutUs_title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 44.444% */
  }
  .OurVisionAboutUs_para {
    /* color: #373737; */
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
  }
  .OurmissionAboutUs_para {
    color: #fff;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
  }
  .menu-heading_icon {
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .currentdish_name_title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    max-width: 585px;
  }
  .currentDish_paramenu {
    color: #fff;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 417px;
  }
  .buttonNutrition_info {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .selectboxmenuweekwise {
    border-radius: 23px;
    background: #eee9da;
    width: 125.464px;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
  }
  .curtleheightfaq {
    height: 279px;
  }
  .aboutUsocntianercustle {
    padding-top: 40px;
  }
  .curtleLightheight {
    height: 212px;
  }
  .aboutUsocntianercustlelight {
    padding-top: 118px;
  }
  .MenuCardBoxConatiner {
    border-radius: 55px;
    background: #1e3a4f;
    box-shadow: 0px 0px 24.2px 1px rgba(0, 0, 0, 0.71);
    padding: 34px;
  }

  .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f5f2e9;
    color: #1e3a4f;
    font-weight: 600;
    text-transform: uppercase;
    padding: 13px 35px 13px 13px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    font-size: 12px;
  }

  .select-wrapper::after {
    content: "▼";
    font-size: 10px;
    color: #1e3a4f;
    position: absolute;
    right: 26px;
    top: 6%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(30, 58, 79, 0.2);
  }
  .BoxContainer_FAQBOX {
    border-radius: 0px 0px 113px 113px;
    background: #1e3a4f;
    box-shadow: 0px 14px 48.8px 0px rgba(0, 0, 0, 0.59);
  }
}

@media (max-width: 768px) {
  .ourvalues-para_info {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 167%;
    font-size: 14px;
    letter-spacing: 0.5px;
    max-width: 406px;
  }
  .OurValues_headingtitle {
    color: #fff;
    font-family: "Typo Round Bold Demo";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .OurVisionAboutUs_title {
    color: #1e3a4f;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 44.444% */
  }
  .OurmissionAboutUs_title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 44.444% */
  }
  .OurVisionAboutUs_para {
    color: #373737;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
  }
  .OurmissionAboutUs_para {
    color: #fff;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
  }
  .buttonNutrition_info {
    font-size: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  .curtleheightfaq {
    height: 334px;
  }
  .aboutUsocntianercustle {
    padding-top: 40px;
  }
  .curtleLightheight {
    height: 286px;
  }
  .aboutUsocntianercustlelight {
    padding-top: 86px;
  }
  .OurMissionCard {
    height: 272px;
  }
  .OurvisionCard {
    height: 230px;
  }
  .MenuCardBoxConatiner {
    border-radius: 6px;
    background: #1e3a4f;
    box-shadow: 0px 0px 24.2px 1px rgba(0, 0, 0, 0.71);
    padding: 13px;
  }
  .select-wrapper {
    position: relative;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
  }

  .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f5f2e9;
    color: #1e3a4f;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 8px;
    padding: 6px 12px 4px 11px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
  }

  .select-wrapper::after {
    content: "▼";
    font-size: 10px;
    color: #1e3a4f;
    position: absolute;
    right: 8px;
    top: 43%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(30, 58, 79, 0.2);
  }
}
